<ion-view view-title="Over">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">

          <h2>Makers van de app</h2>
          <ul>
            <li>Lennart Molanus</li>
            <li>Coen Lijster</li>
            <li>Sam Echten</li>
            <li>Albert van Goor</li>
            <li>Quinten Broer</li>
            <li>meneer Henk Jurriens</li>
          </ul>
        </div>
      </div>

      <div class="card">
        <div class="item item-image">
          <img src="img/team.jpg"/>
        </div>
      </div>

      <div class="card">
        <div class="item item-image">
          <img src="img/team2.jpg"/>
        </div>
      </div>
  </ion-content>
</ion-view>
