<ion-view view-title="Een nieuwe start">
  <ion-content>
    <div class="card card-blue" >
      <div class="item item-text-wrap" >
        <h2>Een nieuwe start</h2>
        <p>
          Nu hoor je bij de oudsten van je school en weet je (bijna) alles.
          Straks hoor je opeens bij de jongsten en is bijna alles nieuw voor je.
          Hoe zou dat voelen? Even wennen natuurlijk maar toch ook wel snel vertrouwd. Kijk maar wat onze brugklasleerlingen erover zeggen
        </p>
      </div>
    </div>


    <div class="item"  style="padding : 20px;">

      <h2 style="text-align : center">Leerlingen</h2>

      <button class="button button-block  bg-gold" ui-sref="app.boris">Boris</button>

      <button class="button button-block bg-skyblue " ui-sref="app.friso">Friso</button>

      <button class="button button-block bg-goldenrod " ui-sref="app.maaike">Maaike</button>

      <button class="button button-block bg-goldenrod " ui-sref="app.sanne">Sanne</button>

    </div>



  </ion-content>
</ion-view>
