<ion-view view-title="Visie Peter de Visser">
  <ion-content>
    <div class="card card-white">
      <div class="item item-text-wrap card-white">
        <h2>Passie als brandstof voor talent</h2>

        <p>
          Bijvoorbeeld: <span class="text-gold">Niet alleen maar leren voor je diploma, maar vooral leren doordat je nieuwsgierigheid wordt geprikkeld.</span>
          Bij ons word je uitgedaagd om echt eigen keuzes te maken bij het bepalen van je doelen.
          Samen iets doen waar je ongelofelijk veel zin in hebt. Bijvoorbeeld iets wilds als samen een boot bouwen.
          <span class="text-gold">Onderweg een hoop problemen tegenkomen, én oplossen! </span> Omdat je verder wilt komen en
          vertrouwen hebt dat het lukt.
        </p>
      </div>

    </div>

    <div class="card card-white"  >
      <div class="item item-image card-white">
        <img src="img/peter.png"  style="width : 50%;"/>
        <h2 class="text-gold">Peter de Visser</h2>
        <h3 class="text-gold">directeur-bestuurder</h3>
      </div>
    </div>

  </ion-content>
</ion-view>
