<ion-view view-title="Scholen">
  <ion-content>

    <div style="padding : 20px;">
      <button class="button button-block button-big bg-orange" ui-sref="app.lyceum">Lyceum</button>
      <button class="button button-block button-big bg-blue" ui-sref="app.beroepencollege">Beroepencollege</button>
      <button class="button button-block button-big bg-green" ui-sref="app.praktijkschool">Praktijkschool</button>
      <button class="button button-block button-big bg-purple" ui-sref="app.hartvanezinge">Hart van Ezinge</button>
      <button class="button button-block button-big bg-roze" ui-sref="app.sportschool">Sportschool</button>
    </div>

    <div class="list" ng-controller="MockBeaconController">
      <button ng-click="goRoom()">MediaLab</button>

    </div>



    <div class="list" ng-controller="BeaconController">
            <div class="item" ng-repeat="(key, value) in beacons">
                <div class="row">
                    <div class="col truncate">
                        {{value.uuid}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        major: {{value.major}}
                    </div>
                    <div class="col">
                        minor: {{value.minor}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{value.proximity}}
                    </div>
                </div>
            </div>
    </div>

  </ion-content>


<!--
  <button class="button button-primary button-block " ng-click="checkForUpdates()">
  Check for updates
</button>


<button class="button button-stable button-block button-pulse" ng-if="hasUpdate" ng-click="doUpdate()">
  download update
</button>-->
</ion-view>
