<ion-view view-title="Boris">
  <ion-content>
    <div class="card card-white">
      <div class="item item-text-wrap card-white">
        <p>
        Toen ik de eerste keer naar Stad & Esch fietste, vond ik het wel spannend.
        Maar toen ik er was, was het heel erg leuk. Het grootste verschil
        met de basisschool is dat het gebouw veel groter is. En natuurlijk zijn
        er allemaal nieuwe kinderen, andere lessen en heb je allemaal
        verschillende leraren</p>

      </div>
    </div>

    <div class="item" style="text-align : center">
      <h1>Best een verschil </br>dat grote gebouw</h1>
      <h2>Boris Holterman</h2>
    </div>





  </ion-content>
</ion-view>
