<ion-view view-title="Friso">
  <ion-content>
    <div class="card card-white">
      <div class="item item-text-wrap card-white">
        <p>
          ￼￼￼De eerste dag was het spannendst maar ook heel leuk. Vooral het leren kennen van nieuwe klasgenoten.
          Het fietsen naar school en het maken van huiswerk zijn voor mij de grote verschillen met de basisschool.
        </p>
      </div>
    </div>

    <div class="item" style="text-align : center">
      <h1>Fietsen naar school</h1>
      <h2>Friso Kienstra</h2>
    </div>

    <div class="card card-white">
      <div class="item item-text-wrap card-white">
        <p>
          Sport is wel mijn droomvak. Daar zou ik – als ik het mocht
          zeggen – elke dag wel mee willen beginnen en afsluiten. En tussendoor wat anders leren natuurlijk.
           Vooral wiskunde, geschiedenis en aardrijkskunde
        </p>
      </div>
    </div>




  </ion-content>
</ion-view>
