<ion-view view-title="Maaike">
  <ion-content>
    <div class="card card-white">
      <div class="item item-text-wrap card-white">
        <p>
          Eigenlijk voelde ik me gewoon een beetje klein toen ik voor het eerst
naar Stad &amp; Esch ging. Wat heel anders is dan op de basisschool,
is dat je elk uur naar een ander lokaal gaat.
Wat ik belangrijk vind? Dat het gewoon gezellig is
en dat we chille leraren hebben. Mijn ideale school is klein,
en gezellig en kleurrijk
        </p>

    </div>

  </div>

  <div class="item" style="text-align : center">
    <h1>Ik voelde me best <br/>een beetje klein</h1>
    <h2>Maaike Dolsma</h2>
  </div>




  </ion-content>
</ion-view>
