<ion-view view-title="Sanne">
  <ion-content>
    <div class="card card-white">
      <div class="item item-text-wrap card-white">
        <p>
        Ik vond de eerste schooldag leuk. Het is een mooi gebouw en ik heb leuke klasgenoten en docenten.
Het verschil met de basisschool is dat je steeds andere mensen ziet, voor verschillende vakken hebben we
 verschillende docenten en andere lokalen. Je zit ook niet altijd met dezelfde mensen in de klas. En je hebt nu soms ook tussenuren
</p>
      </div>


  </div>

  <div class="item" style="text-align : center">
    <h1>Mooi gebouw, </br>leuke klasgenoten</h1>
    <h2>Sanne Polstra</h2>
  </div>



  </ion-content>
</ion-view>
