/* Empty. Add your own CSS if you like */

a {
    text-decoration: none;
    color : white;
}
a:hover {
    text-decoration: none;
}


.card {
  boder : 0px;

}


.button-big {
  border : 0px;
  margin : 0px;
  height : 100px;
  color : white;
}

.bg-orange {
   background: #f19224;
}

.bg-blue {
   background :#8cc3e9;
}

.bg-yellow {
   background : #e2bc2a;
}

.bg-green {
   background : #b3c027;
}

.bg-purple {
   background : #ab539b;
}

.bg-red {
   background : #e10f2a;
}
