/* Empty. Add your own CSS if you like */

a {
    text-decoration: none;
    color : white;
}
a:hover {
    text-decoration: none;
}


.card {
  boder : 0px;

}


.button-big {
  border : 0px;
  margin : 0px;
  height : 100px;
  color : white;
}

.bg-orange {
   background: #f19224;
}

.bg-blue {
   background :#8cc3e9;
}

.bg-yellow {
   background : #e2bc2a;
}

.bg-green {
   background : #b3c027;
}

.bg-purple {
   background : #ab539b;
}

.bg-red {
   background : #e10f2a;
}

.bg-roze {
   background : #f19eb1;
}

.card-blue {
  background :#8cc3e9;
  color : black !important;
  box-shadow: none;
}

.card-blue h2 {
  font-weight:  bold;

}
.card-blue p {
  color : black;
  margin-top : 5px;
}

.card-white {
  background :white;
  color : black !important;
  box-shadow: none;
}

.card-white h2 {
  font-weight:  bold;

}
.card-white p {
  color : black;
  margin-top : 15px;
}

.text-gold {
  color : #e0d09f;
}

.bg-gold {
  background-color : #e0d09f;
}

.text-goldenrod {
  color : #c79b2c;
}

.bg-goldenrod {
  background-color: #c79b2c;
}

.text-skyblue {
  color : #6fc7da;
}

.bg-skyblue {
  background-color: #6fc7da;
}
