<ion-view view-title="Gymnasium">
    <ion-content>
      <div class="card">

        <div class="item item-text-wrap">

            <p>Er is maar één gymnasium in Meppel, en dat vind je op het Onderwijspark Ezinge. Op het gymnasium leer je over de klassie- ke oudheid en krijg je de klassieke talen Grieks en Latijn. Ook volg je het vak filosofie. Je leert dan met de bronnen van het filosofisch denken om te gaan.
              Het gymnasium is vanaf klas 1 een aparte opleiding binnen Stad &amp; Esch.
            </p>

        </div>
      </div>


    </ion-content>
</ion-view>
