<ion-view view-title="Havo/Vwo">
    <ion-content>


      <div class="card">

        <div class="item item-text-wrap">

            <h2>Havo</h2>
            <p>
Onze havo bereidt jou uitstekend voor op een studie in het hoger beroepsonderwijs omdat we veel aandacht besteden aan leervaardigheden zoals plannen, reflecteren, samenwerken en voor-
al zelfstandig werken. Je ontwikkelt je kwaliteiten en vaardigheden verder tijdens vaklessen, mentorlessen en keuzewerktijd en ook via webquests. Op die manier leer je op onze havo waar je goed in bent, je leert je kwaliteiten kennen, je krijgt een eigen manier van leren.
            </p>

        </div>
      </div>

      <div class="card">

        <div class="item item-text-wrap">

            <h2>Vwo</h2>
            <p>We hebben een vwo-opleiding én we hebben vwo+. De vwo-opleiding noemen we het atheneum. We bereiden je goed voor op wetenschappelijk onderwijs en hoger beroepsonderwijs.
              In de brugklas vwo besteden we veel tijd en aandacht aan het ontwikkelen van je studievaardigheden.
            </p>

        </div>
      </div>

    </ion-content>
</ion-view>
