<ion-view view-title="Theoretische Leerweg">
    <ion-content>
      <div class="card">

        <div class="item item-text-wrap">

            <p>De tl opleiding op Stad & Esch start op het Lyceum. Na twee jaar tl kun je kiezen uit twee opleidingen: een richting die vooral gericht is op doorstroming naar het mbo én een richting die vooral gericht is op doorstroming naar de havo.
              In de brug- klas van de tl starten we ook met een Technologie route.
            </p>

        </div>
      </div>


    </ion-content>
</ion-view>
