<ion-view view-title="VWO+">
    <ion-content>
      <div class="card">

        <div class="item item-text-wrap">

            <p>In vwo+ heb je meer uren keuzewerktijd dan in het atheneum.
              Je maakt dan huiswerk of je werkt samen met andere leerlingen aan een project.
               Binnen een thema onderzoeken jullie dan een zelfgekozen onderwerp. Het gaat daarbij om keuzevrijheid,
                eigen interesses en verdieping. Ook in vwo+ volg je het vak filosofie.
            </p>

        </div>
      </div>


    </ion-content>
</ion-view>
