<ion-view view-title="Visie Doro van Koningsveld">
  <ion-content>
    <div class="card card-white">
      <div class="item item-text-wrap card-white">
        <h2>Creativiteit als sleutel tot succes</h2>

        <p>
        Bijvoorbeeld: Denken in kansen schept ruimte voor nieuwe, creatieve oplossingen en toepassingen. Dit kans-denken kom je niet alleen tegen in traditionele creatieve vakken maar in alle vakken.
        <span class="text-skyblue">De organisatie, de cultuur, onze manier van samenwerken, alles is gericht op het vinden van nieuwe oplossingen.</span>
        </p>
      </div>

    </div>


    <div class="card card-white">
      <div class="item item-text-wrap card-white">
        <h2>Persoonlijk maken als standaard</h2>

        <p>
          Bijvoorbeeld: <span class="text-skyblue">Niet de leer- of werkboeken zijn je belangrijkste gereedschap, maar je eigen computer!</span>
          Dat is dé manier om vragen te stellen, te onderzoeken, contacten te leggen, mensen te vinden
          die je nodig hebt.
        </p>
      </div>

    </div>

    <div class="card card-white"  ">
      <div class="item item-image card-white">
        <img src="img/doro.png" style="width : 50%;" />
        <h2 class="text-skyblue">Doro van Koningsveld</h2>
        <h3 class="text-skyblue">directeur Onderwijs en Personeel</h3>
      </div>
    </div>

  </ion-content>
</ion-view>
